.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}

.texto-encima{
    
   font-size: 30px;
    position: absolute;
    top: 10px;
    left: 10px;
}

@media (max-width: 700px) {
    .texto-encima {font-size: 15px;
    }
  }


